{% include "layouts/header.njk" %}
{% block content %}
    <section class="news">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="post single-post wow fadeIn">
                        <div class="post-content">
                                <div class="inner">
                                     <h3 class="post-title">
                                        {{ title }}
                                    </h3>
                                    
                                    <div class="blogDetailsPostDate_Author">
                                    <small class="post-date">{{ displayDate }}</small>
                                   
                                    <div class="post-author">
                                        <img src="{{ authorImage }}" alt="Image">
                                            <span>by {{ author }}
                                            </span>
                                        </div>
                                        </div>

                                    <figure class="post-image">
                                        <img src="{{ image }}" alt="Image">
                                        </figure>
                                        
                                        
                                        <ul class="social-share">
                                            <li class="facebook">
                                                <a href="#">
                                                    <i class="fa fa-facebook"></i>
                                                </a>
                                            </li>
                                            <li class="twitter">
                                                <a href="#">
                                                    <i class="fa fa-twitter"></i>
                                                </a>
                                            </li>
                                            <li class="google-plus">
                                                <a href="#">
                                                    <i class="fa fa-google-plus"></i>
                                                </a>
                                            </li>
                                            <li class="linkedin">
                                                <a href="#">
                                                    <i class="fa fa-linkedin"></i>
                                                </a>
                                            </li>
                                            <li class="youtube">
                                                <a href="#">
                                                    <i class="fa fa-youtube-play"></i>
                                                </a>
                                            </li>
                                        </ul>
                                        <h6>{{ subTitle }}
                                        </h6>
                                        <p>{{ description }}</p>
                                        <figure>
                                            <img src="{{ featuredImage }}" alt="Image">
                                            </figure>
                                            <div class="uppersection">{{ UpperSection | markdownify | safe }}</div>                
                                                <blockquote>
                                                    <p>{{ QuoteContent }}</p>
                                                    <h5>{{ QuoteAuthor }}</h5>
                                                </blockquote>
                                            <div class="lowersection">{{ LowerSection | markdownify | safe }}</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="pagination fadeIn">
                                        <a href="#">PREV POST</a>
                                        <a href="#">NEXT POST</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                {% endblock %}
                {% include "layouts/footer.njk" %}