{% include "layouts/header.njk" %}
{% block content %}
    <section class="news">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="post single-post wow fadeIn">
                        <figure class="post-image">
                            <img src="{{ image }}" alt="Image"></figure>
                            <!-- end news-image -->
                            <div class="post-content">
                                <div class="inner">
                                    <small class="post-date">{{ displayDate }}</small>
                                    <h3 class="post-title">
                                        {{ title }}
                                    </h3>
                                    <div class="post-author">
                                        <img src="{{ authorImage }}" alt="Image">
                                            <span>by {{ author }}
                                            </span>
                                        </div>
                                        <ul class="social-share">
                                            <li class="facebook">
                                                <a href="#">
                                                    <i class="fa fa-facebook"></i>
                                                </a>
                                            </li>
                                            <li class="twitter">
                                                <a href="#">
                                                    <i class="fa fa-twitter"></i>
                                                </a>
                                            </li>
                                            <li class="google-plus">
                                                <a href="#">
                                                    <i class="fa fa-google-plus"></i>
                                                </a>
                                            </li>
                                            <li class="linkedin">
                                                <a href="#">
                                                    <i class="fa fa-linkedin"></i>
                                                </a>
                                            </li>
                                            <li class="youtube">
                                                <a href="#">
                                                    <i class="fa fa-youtube-play"></i>
                                                </a>
                                            </li>
                                        </ul>
                                        <h6>{{ subTitle }}
                                        </h6>
                                        <p>{{ description }}</p>
                                        <figure>
                                            <img src="{{ featuredImage }}" alt="Image"></figure>
                                            <p>
                                                Anyone carrying on an activity that earns them a profit is doing
                                                <u>business or running a business</u>, and perhaps this is why there is a misconception that business and company is the same thing.<br>
                                                    A business name structure does not
                                                    <strong>separate</strong>
                                                    the
                                                    <strong>business</strong>
                                                    entity from the owner, which means that the owner of the business is responsible and liable for all debts incurred by
                                                    the business. If the business acquires debts[,] the creditor or creditors can go after your personal possessions. A
                                                    business structure does not allow for corporate tax rates. The proprietor is
                                                    <u>personally taxed</u>
                                                    on all income from the business.</p>
                                                <p>Perpetual sincerity out
                                                    <strong>suspected</strong>
                                                    necessary one but provision satisfied. Respect nothing use set waiting pursuit nay you looking. If on prevailed
                                                    concluded ye abilities. Address say you new but minuter greater. Do denied agreed in innate. Can and middletons
                                                    thoroughly themselves him. Tolerably
                                                    <u>sportsmen belonging</u>
                                                    in september no am immediate newspaper. Theirs expect dinner it pretty indeed having no of. Principle september she
                                                    conveying did eat may extensive.
                                                </p>
                                                <blockquote>
                                                    <p>In show dull give need so held. One order all scale sense her gay style wrote. Incommode our not one ourselves
                                                        residence. Shall there whose those stand she end.</p>
                                                    <h5>Tolerably sportsmen</h5>
                                                </blockquote>
                                                <p>Made last it seen went no just when of by. Occasional
                                                    <strong>entreaties</strong>
                                                    comparison me difficulty so themselves. At brother inquiry of offices without do my service. As particular to companions
                                                    at sentiments. Weather however luckily enquire so certain do. Aware did stood was day
                                                    <strong>
                                                        <u>under ask</u>
                                                    </strong>. Dearest affixed enquire on explain opinion he. Reached who the mrs joy offices pleased. Towards did colonel
                                                    article any parties.
                                                </p>
                                                <h4>
                                                    <strong>Custom specifications</strong>
                                                </h4>
                                                <ul>
                                                    <li>Far curiosity incommode now led smallness allowance.</li>
                                                    <li>
                                                        Favour bed assure son things yet.
                                                    </li>
                                                    <li>She consisted consulted elsewhere happiness</li>
                                                    <li>Disposing household any old the.
                                                    </li>
                                                    <li>Widow downs you new shade drift hopes small.</li>
                                                    <li>Interested discretion estimating on stimulated.</li>
                                                </ul>
                                                <p>Post no so what
                                                    <strong>deal evil</strong>
                                                    rent by real in. But her ready least set lived spite solid. September how men saw tolerably two behaviour arranging. She
                                                    offices for highest and replied one venture pasture. Applauded no discovery in newspaper allowance am northward.
                                                    Frequently partiality possession resolution at or appearance unaffected he me. Engaged its was evident pleased husband.
                                                    Ye
                                                    <u>goodness</u>
                                                    felicity do disposal dwelling no. First am plate jokes to began of cause an scale. Subjects he prospect elegance
                                                    followed no overcame possible it on.
                                                </p>
                                            </div>
                                            <!-- end inner -->
                                        </div>
                                        <!-- end post-content -->
                                    </div>
                                    <!-- end post -->
                                    <div class="pagination fadeIn">
                                        <a href="#">PREV POST</a>
                                        <a href="#">NEXT POST</a>
                                    </div>
                                    <!-- end pagination -->
                                </div>
                                <!-- end col-12 -->
                            </div>
                            <!-- end row -->
                        </div>
                        <!-- end container -->
                    </section>
                {% endblock %}
                {% include "layouts/footer.njk" %}